@import "bootstrap";

// body.modal-open {
//   header, section, footer {
//     filter: blur(1px);
//     -webkit-filter: blur(1px);
//     -moz-filter: blur(1px);
//     -o-filter: blur(1px);
//     -ms-filter: blur(1px);
//   }
// }

.bg-color-white { background: white; }

.btn-red {
  @include button-variant(white, rgb(224, 57, 62), rgb(224, 57, 62));
}

[ng-click] {
    cursor: pointer;
}

@media(max-width: $screen-xs-max) {
  body { font-size: 11px; }
  h1, .h1 { font-size: 19px; margin-top: 14px; margin-bottom: 7px; }
  h2, .h3 { font-size: 17px; margin-top: 12px; margin-bottom: 6px; }
  h3, .h4 { font-size: 15px; margin-top: 10px; margin-bottom: 5px; }
  h4, .h4 { font-size: 13px; margin-top: 8px; margin-bottom: 4px; }
}
