@import "bootstrap/variables";
@import "bourbon";

body {
  font-family: Whitney, helvetica, arial, sans-serif;
}

.text-2em { font-size: 2em; }
.text-3em { font-size: 3em; }
.text-4em { font-size: 4em; }
.text-5em { font-size: 4em; }

.m-t { margin-top: 1em; }
.m-r { margin-right: 1em; }
.m-l { margin-left: 1em; }
.m-b { margin-bottom: 1em; }

img.i2x {
  max-height: 50%;
}

header {
  h3 {
    color: rgb(224, 57, 62);
    font-style: italic;

    span {
      display: inline-block !important;
    }
  }

  .logout, .login {
    display: block;
    color: rgba(0, 0, 0, 0.470588);
    margin-top: 2em;
  }

  #indexing-progress {
    height: auto;
    margin: 0px;

    .progress-bar {
      height: 5px;
      text-indent: -10000px;
    }

    &:hover {
      .progress-bar {
        height: 20px;
        text-indent: 0px;
      }
    }


  }
}

section.search-wrapper {
  background: #508dbd;
  color: #cfdfec;
  margin-top: 5px;

  .search-form {
    background: #505050;
    margin: 36px;

    .search-input {
      padding: 20px;
      padding-bottom: 5px;

      input#q {
        font-size: 2em;
        padding: 5px;
        display: block;
        width: 100%;
        color: #505050;
      }

      .branding {
        margin-top: 5px;
        text-align: right;
        font-size: 0.8em;
        color: white;

        img {
          vertical-align: middle;
          height: 1.3em;
        }
      }

    }
  }
}

section.hits-wrapper {
  background: #f4f4f4;
  color: #545454;
  color: rgba(0,0,0,0.67);
  padding: 20px;

  .facet {
    li.active {
      font-weight: bold;
    }
  }

  .hit {
    background: white;
    border: 1px solid #a0a0a0;
    padding: 10px;
    margin-bottom: 5px;

    em {
      font-weight: bold;
      font-style: normal;
    }

    .thumb {
      float: left;
      width: 80px;
      height: 120px;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
    }

    .infos {
      margin-left: 100px;
    }

    .topics {
      margin-left: 100px;

      .label-topic {
        margin-right: 5px;
        margin-bottom: 5px;
        float: left;
        background: #5BC0DF;
      }
    }
  }
}

section.home-wrapper {
  background: #f4f4f4;
  color: #545454;
  color: rgba(0,0,0,0.67);
  padding: 20px;
}

#modal-progress {
  .progress {
    height: 3em;

    .progress-bar {
      line-height: 3.5em;
    }
  }
}

body.initialized {
  .hidden-search {
    display: none;
  }

  section.home-wrapper {
    display: none;
  }

  section.hits-wrapper {
    display: block;
  }
}


@media(max-width: $screen-xs-max) {
  section.search-wrapper {
    .col-sm-12 {
      padding: 0px;
    }

    .search-form {
      margin: 5px;
      width: auto;

      .search-input {
        padding: 5px;

        input#q {
          font-size: 1em;
        }
      }
    }
  }

  section.hits-wrapper {
    padding: 5px 0px 5px 0px;

    .col-sm-9 {
      padding: 0px 5px 0px 5px;
    }

    .container {
      padding: 0px;
      margin: 0px;
    }

    .hit {
      padding: 0px 4px 0px 4px;

      .infos {
        margin-left: 0px;

        h3 {
          img {
            display: inline-block !important;
            height: 1.5em;
          }
        }
      }
    }
  } 
}

footer {
  margin-top: 20px;

  img {
    max-height: 2em;
    vertical-align: middle;
  }
}